.output{
  width: 350px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  margin-bottom: 40px;
  height: 550px;
  display: block;
  color:white;
  border-radius:10px;
}
body{
  background-color:#11202A;
}
.blue-button {
  margin-top: 10px;
  background-color: #3498db; /* Blue color */
  color: white; /* Text color */
  padding: 8px 15px; /* Padding */
  font-size: 12px; /* Font size */
  border: none; /* No border */
  border-radius: 5px; /* Rounded corners */
  cursor: pointer; /* Cursor style on hover */
  transition: background-color 0.3s ease; /* Smooth transition on hover */
}

.blue-button:hover {
  background-color: #2980b9; /* Darker blue color on hover */
}

.cardContainer{
  width: 100%;
  margin-top: 120px;
  /* margin-left: 250px; */
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(3,33.33%);
  grid-gap:20px 5px;
}

.card {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 20px;
  width: 300px;
  margin: 0 auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

img {
  width: 100%;
  border-radius: 8px;
  margin-bottom: 10px;
}

p {
  font-size: 16px;
  color: #666;
  line-height: 1.5;
}
